/*
Kelsey Padilla
March 28th, 2018
Pitbulls
*/

* {

}

/* Put body attributes here */
body {	

	background-color: rgb(200,200,200);
	font-family: "Times New Roman", Times, serif;
	font-size: 87.5%;
	background-color: beige; 
	color: black;
} 

figure {float: right;}

h1 {
 
background-color: DarkCyan;
font-size: 150%;
text-align: center;
text-decoration: underline overline; 
}

p {
background-color: white;
font-size: 150%;
 }